# Gradle
.gradle/
build/
app/build/
.cxx/
*.iml

# Android Studio / IntelliJ
.idea/

# Local SDK config
local.properties

# Native build outputs
app/.cxx/

# OS/editor noise
Thumbs.db
.DS_Store
*.swp
*~
.externalNativeBuild/
.navigation/
captures/
.settings/
.project
.classpath
.factorypath
*.bak
*.tmp
*.log

